:root {
  --primary-orange: #f48c06;
  --strong-orange: #e85d04;
  --lighter-orange: #faa307;
  --yellow-orange: #ffba08;
  --filter-background: #f9f2ec;
  --paragraph-color: #000e14;
  --main-background-pattern-color: #ffd9af;
  --main-background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23fdf5e8' fill-opacity='0.28' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --secondary-backgroun-pattern-color: #fffef7;
  --secondary-background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23fccf7b' fill-opacity='0.17' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.dark-mode {
  --primary-orange: #f48c06;
  --strong-orange: #e85d04;
  --lighter-orange: #faa307;
  --yellow-orange: #ffba08;
  --filter-background: #2f3037;
  --paragraph-color: #f9f2ec;
  --main-background-pattern-color: #00141f;
  --main-background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%235b5c62' fill-opacity='0.16' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --secondary-backgroun-pattern-color: #26262c;
  --secondary-background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23d9d9d9' fill-opacity='0.06' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

* {
  margin: 0;
  font-size: 14px;
  font-family: "Cabin", serif;
  letter-spacing: 1.1px;
}

p {
  color: var(--paragraph-color);
}

hr {
  width: 100%;
  height: 2px;
  background: var(--strong-orange);
  border: none;
  margin-bottom: 30px;
}

footer {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.footer-title {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--primary-orange);
}

.contact-footer-wraps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  margin-block: 15px;
}

.contact-footer-wraps img {
  height: 25px;
  width: auto;
  margin-right: 10px;
}

.contact-footer-wraps a {
  color: var(--paragraph-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.footer-wrappers:nth-of-type(3) {
  margin-bottom: 40px;
}

.footer-wrappers p {
  font-size: 1.5rem;
  max-width: 600px;
}

#copyright {
  font-size: 1.3rem;
  margin-block: 20px;
  align-self: center;
  margin-bottom: 30px;
}

.footer-container {
  margin-bottom: 50px;
}

@media (min-width: 1000px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer-wrappers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 27%;
  }
}
